/* .auto1-sec2-a{
  display: flex;
  justify-content: center;
  width: 55%;
} */

.auto1-sec2-a {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 3% 5%;
}

.card> a {
  display: block;
  height: 258px;
  overflow: hidden;
}

.card> a >img {
width: 100%;
}
.card-btm img{
  height: 16px;
  margin-right: 8px;
}
.card-btm{
  padding: 1rem 0;
}
.card-btm>* + *{
  margin-top: 15px;
}
.card-btm .car-model {
  font-size: 18px;
  font-weight: 400;
}
.card-btm .car-price {
  font-size: 24px;
  font-weight: 700;
}
.card-btm .go-to-preview {
  color: #EC1D23;
}
.auto1-ft{
  display: flex;
  justify-content: space-between;
}
.card-btm .bottom-info {
  margin-top: 2rem;
}
.card-btm .bottom-info .metrics {
  display: flex;
  align-items: center;
}
.card-btm .bottom-info .metrics .p-xmini {
  display: flex;
  align-items: center;
}
.card-btm .car-location {
  margin-left: 2rem;
}
.card-ctn{
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,1fr));
  /* grid-auto-rows: ; */
  margin: 3%; 
  justify-items: center;
  grid-gap: 4rem;
  
}
.auto1-h4{
  margin:2rem 4.5% ;

}
.item-ctr{
  display: flex;
  width: fit-content;
  margin: 2rem auto;
} 
.item-ctr > span + span{
margin-left: 1rem;
}
@media (max-width:1120px){
  .auto1-sec2-a {
    display: flex;
    justify-content: center;
    width: 59%;
  }
}

@media (max-width:1024px){
  .card-ctn {
    grid-template-columns: minmax(100px, 1fr);
  }
  /* .item-ctr {
    display: none;
  } */
  .auto1-sec2-a{
    padding: 3% 0 5% 0;
  }
  .auto1-sec2-a{
    width: fit-content;
    padding: 5%;
  }
  .auto1-h4 {
    margin: 0 0 4rem 0;
    text-align: center;
  }
}