.ct-sec1{
  height: 700px;
}

.ct-sec1-a{
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.ct-sec1-a-1{
  grid-column: 1 / -1;
  padding-left: 6%;
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.ct-sec1-a-2{
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 75%; 
  /* height: 100%; */
  margin: auto;
  margin-bottom: 5rem;
}

.ct-sec1-a-3{
  width: 60%;
  margin: 0 auto;
}
.ct-sec1-a-3 > p{
line-height: 35px;
color: white;
}
.ct-sec1-a-3-span{
  display: flex;
  color: white;
  /* font-weight: 18px; */
}
* + .ct-sec1-a-3-span{
 margin-top: 26px;
}
.ct-sec1-a-3-span > img{
  height: 1.3rem;
  margin-right: 1rem;
}
.ct-sec1-a-2 > input{
  height: 4rem;
  padding-left: 1rem;
  font-size: 16px;
}
.ct-sec1-a-2 > * + input,.ct-sec1-a-2 >input + textarea {
  margin-top: 2rem;
}
.ct-sec1-a-2 > textarea{
  height: 10rem;
  resize: none;
  font-size: 16px;
   padding:1.5rem 1rem;

}

.ct-sec1-a-2 .btn{
  border: unset;
  background-color:var(--red);
  color: white;
  font-size: 20px;
  cursor: pointer;
      width: 100%;
      padding-left: 0;
}
.ct-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--fade);
  z-index: 2;
  display: flex;
}

.thanks {
  background-color: white;
  width: 836px;
  height: 412px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  z-index: 2;

  margin: auto;
}

.close {
  position: absolute;
  top: 25px;
  right: 32px;
  height: 19.67px;
  width: 19.67px;
  cursor: pointer;
}

.thanks>h6+p {
  margin-top: 36px;
}



.btn {
  margin: unset;
  width: 170.65px;
  height: 48px;
  font-size: 18px;
}




.thanks>p {
  font-size: 24px;
  line-height: 30px;
}

.thanks>h6 {
  font-size: 30px;
}
.thanks>.mark + h6 {
  margin-top: 44.25px;
}

.mark {
  height: 82.5px;
  width: 82.5px;
}


@media (max-width:1200px){
  .ct-sec1-a-3 {
    width: 70%;
  }
}
@media (max-width:1024px){
  .ct-sec1{
    grid-template-columns: 1fr;
    height: 1018.83px;
    height: fit-content;
  }



  .ct-sec1-a {
    padding-bottom: 15%;
    display: grid;
    height: 100%;
    width: 100%;
    position: relative !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .thanks{
    width: 60%;
  }
  .thanks > p{
    font-size: 18px;
  }
}
@media (max-width:768px){
  .ct-sec1-a-1{
    padding: 0;
  }
  h1{
    text-align: center;
    padding: 0;
    font-size: 50px;
  }
  .ct-sec1-a-3 > p,.ct-sec1-a-3>span{
  font-size: 14px;
  }
 
.ct-sec1-a-2>input {
  height: 3rem;
}
  .thanks{height: 380px;}
 .thanks>h6 {
   font-size: 18px;
 }
 .thanks>p {
   font-size: 14px;
 }
 .mark {
   height: 41.5px;
   width: 41.5px;
 }
}
@media (max-width:500px){
  .ct-sec1-a-2>input {
    font-size: 14px;
  }
  .thanks{
    width: 75%;
    height: 300px;
  }
  .thanks>p {
    font-size: 12px;
  }
}