* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.gastab-logo {
  height: 5rem;
}

.container {
  background-color: #fbfbfb;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  background-color: #ffffff;
}
.head {
  display: flex;
  align-items: center;
}
.head .logo {
  padding: 1rem 0;
}
.dash {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin-left: 6rem;
  border-bottom: 3px solid #3d52a3;
}
.dash-title {
  font-family: Helvetica;
  font-size: 2.4rem;
  font-weight: 400;
  color: #3d52a3;
  margin-left: 1.5rem;
}
/* .dash-right {
} */
.dash-link {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: #353535;
  margin-left: 3rem;
}
.dash-link.logout {
  color: #EC1D23;
}
.card {
  margin: 4rem;
  background-color: #ffffff;
  padding-bottom: 5rem;
}
.welcome {
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}
.listing-link {
  font-family: Helvetica;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #ec1d23;
  padding: 1rem 3rem;
  text-decoration: none;
}
.new-list,
.all-listing {
  padding: 2rem 7rem;
}
.list-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  color: #000000;
  padding-bottom: 1rem;
}
.listing-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}
.no-listing {
  width: 100%;
}
.no-list {
  padding-top: 2rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;
  color: #7e7a7a;
}
.listin {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #3d52a3;
  padding: 1rem 3rem;
  margin: 4rem 7rem;
  text-decoration: none;
}
.list-btn {
  padding-top: 5rem;
}
.line {
  border-top: 1px solid #e5e5e5;
}

.list-car2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
}
.list-car {
  position: relative;
  cursor: pointer;
}
.list-car .link-cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
/* .list-car:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */
.list-img img {
  width: 100%;
}
.use2 {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  color: #696969;
}
.use {
  display: flex;
  justify-content: space-between;
}
.use p {
  color: #696969;
  font-size: 12px;
  text-transform: uppercase;
  margin: 8px 0;
}
.use-option {
  cursor: pointer;
}
.type {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding-bottom: 1.5rem;
  color: #000000;
}
.pricing {
  display: flex;
  align-items: center;
}
.pricing img {
  height: 2rem;
}
.price {
  font-weight: 700;
  font-size: 1.6rem;
  color: #000000;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.km,
.loc {
  display: flex;
  align-items: center;
}
.info img {
  height: 1rem;
  margin-right: 4px;
}
.info-one {
  font-size: 1rem;
  letter-spacing: 0.01em;
  color: #696969;
}
.see-more {
  font-size: 0.8rem;
  letter-spacing: 0.01em;
  color: #ec1d23;
}

.car-content {
  position: relative;
}
.delete2 {
  position: absolute;
  z-index: 30;
  top: 25px;
  right: 2px;
  border: 2px solid #ffffff;
  width: 15rem;
  padding: 2rem 1rem;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: all;
}
.edit {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}
.delete {
  display: flex;
  cursor: pointer;
}
.edit-desc {
  padding-left: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.01em;

  color: #6d6d6d;
}
.delete-desc {
  padding-left: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.01em;

  color: #ec1d23;
}
.step2 {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 60;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease-in;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal-inner {
  position: relative;
  background-color: white;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 9px;
  padding: 5rem 0;
}
.title-sub {
  color: rgb(78, 78, 78);
}
label {
  color: rgb(78, 78, 78);
}
input {
  width: 30%;
  padding: 5px;
}
/* .modal-inner button {
  background-color: rgb(163, 163, 236);
  color: white;
  padding: 0.5rem;
  border-radius: 9px;
  letter-spacing: 4px;
  border: 3px solid rgb(163, 163, 236);
  cursor: pointer;
} */
.modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  text-align: center;
  color: #000000;
  padding: 0rem 9rem;
}
.modal-desc {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  margin: 2rem 0;
  color: #5d5f60;
}
.modal-btns {
  display: flex;
}
.cancel-link {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000;
  background-color: #e5e5e5;
  text-align: center;
  padding: 1.5rem 5.5rem;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.delete-link {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff;
  background-color: #ec1d23;
  text-align: center;
  padding: 1.5rem 5.5rem;
  text-decoration: none;
  border: 1px solid #ec1d23;
  margin-left: 3rem;
}
/* .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: red;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
} */

@media (max-width: 480.98px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-right {
    padding-top: 2rem;
  }
  html {
    font-size: 7px;
  }
  .welcome {
    flex-direction: column;
  }
  .listing-link {
    margin-top: 2rem;
  }
  .list-btn {
    text-align: center;
  }
  img.gastab-logo {
    width: 70%;
  }
  .welcome-title {
    font-size: 2.4rem;
  }
  .list-title {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-right {
    padding-top: 2rem;
  }
  html {
    font-size: 8px;
  }
  .welcome {
    flex-direction: column;
  }
  .listing-link {
    margin-top: 2rem;
  }
  .list-btn {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
}

@media (max-width: 480.98px) {
  .list-car2 {
    flex-direction: column;
    align-items: center;
  }
  .list-car {
    padding-bottom: 3rem;
  }
  .modal {
    width: 90%;
    height: 30%;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .list-car2 {
    flex-direction: column;
    align-items: center;
  }
  .list-car {
    padding-bottom: 3rem;
  }
  .modal {
    width: 70%;
    height: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .list-car2 {
    flex-direction: column;
    align-items: center;
  }
  .list-car {
    padding-bottom: 3rem;
  }
  .modal {
    width: 50%;
    height: 30%;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
  .all-listing {
    padding: 4rem 3rem;
  }
  .modal {
    height: 30%;
  }
}

.hide-listing {
  display: none;
}
.show-listing {
  display: flex;
}
a {
  text-decoration: none;
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.container {
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  background-color: #ffffff;
}
.head {
  display: flex;
  align-items: center;
}
.dash {
  display: flex;
  align-items: center;
  padding-left: 6rem;
}
.dash-title {
  font-family: Helvetica;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3d52a3;
  margin-left: 1.5rem;
  border-bottom: 3px solid #3d52a3;
  padding-bottom: 1rem;
  margin-top: 1.2rem;
}
.dash-right {
}
.dash-link {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: #353535;
}
.card {
  margin: 4rem;
  background-color: #ffffff;
  padding-bottom: 5rem;
}
.welcome {
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}
.listing-link {
  font-family: Helvetica;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #ec1d23;
  padding: 1rem 3rem;
  text-decoration: none;
}
.new-list {
  padding: 4rem 7rem;
}
.list-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 0.01em;
  color: #000000;
  padding-bottom: 1rem;
}
.listing-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}
.no-list {
  padding-top: 2rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;
  color: #7e7a7a;
}
.listin {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #3d52a3;
  padding: 1rem 3rem;
  margin: 4rem 7rem;
  text-decoration: none;
}
.list-btn {
  padding-top: 5rem;
}
.line {
  border-top: 1px solid #e5e5e5;
}
@media (max-width: 480.98px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-right {
    padding-top: 2rem;
  }
  html {
    font-size: 7px;
  }
  .welcome {
    flex-direction: column;
  }
  .listing-link {
    margin-top: 2rem;
  }
  .list-btn {
    text-align: center;
  }
  img.gastab-logo {
    width: 70%;
  }
  .welcome-title {
    font-size: 2.4rem;
  }
  .list-title {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-right {
    padding-top: 2rem;
  }
  html {
    font-size: 8px;
  }
  .welcome {
    flex-direction: column;
  }
  .listing-link {
    margin-top: 2rem;
  }
  .list-btn {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
} */
