/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.container {
  background-color: #e5e5e5;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: auto;
}
.head {
  padding: 2rem 3rem;
  background-color: #ffffff;
} */

.preview-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  overflow: auto;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  padding: 2rem 0;
  transition: opacity 100ms ease-in;
}

.preview {
  margin: 3rem 0;
}

.preview-modal.open {
  opacity: 1;
  pointer-events: all;
}

.card {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
}
.car {
  display: flex;
  padding: 5rem 8rem;
}
.car-content {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}
.use {
  font-size: 1.8rem;
  letter-spacing: 0.01em;
  color: #696969;
  text-transform: uppercase;
}
.car-img,
.car-content {
  width: 50%;
}
img.img-car {
  width: 100%;
}
.type {
  font-size: 2.2rem;
  letter-spacing: 0.01em;
  padding-top: 1rem;
  color: #000000;
}
.info,
.km,
.loc {
  display: flex;
  justify-content: unset;
}
.loc {
  padding-left: 9rem;
}
.info-one {
  font-size: 1.2rem;
  padding-left: 1rem;
  letter-spacing: 0.01em;

  color: #696969;
}
.info {
  padding-top: 1rem;
}
.pricing {
  display: flex;
  align-items: center;
}
.price {
  font-weight: bold;
  font-size: 2.4rem;
  color: #000000;
  padding: 3rem 0rem;
}
.info-title {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  color: #696969;
}
.info-desc {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  color: #000000;
  padding-top: 1rem;
}
.rarr,
.cars,
.larr {
  padding: 0rem 0.8rem;
}
.rarr,
.larr {
  cursor: pointer;
}

.slider-title,
.truck,
.state,
.trans,
.truck-two {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  padding-bottom: 1.5rem;

  color: #696969;
}
.condition,
.truck-three,
.mission,
.color {
  font-weight: bold;
}

.img-slider {
  width: 50%;
  display: flex;
}

.sliding {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 8rem;
  background-color: #ffffff;
}
.slider {
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider-info {
  width: 50%;
  padding-left: 5rem;
  padding-bottom: 5rem;
}
.links {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}
.edit-link {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ec1d23;
  background-color: #ffffff;
  text-align: center;
  padding: 1.5rem 8.5rem;
  text-decoration: none;
  border: 1px solid #ec1d23;
  margin-right: 3rem;
}
.save-link {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff;
  background-color: #ec1d23;
  text-align: center;
  padding: 1.5rem 8.5rem;
  text-decoration: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  height: 100%;
  display: flex;
  transition: 0.3s transform ease-in-out;
}

.slider .item {
  padding: 10px;
  position: relative;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 10px 10px;
  min-width: 30px;
  background: #ffff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
  margin-top: 0.5rem;
}

.ctrl-btn.pro-next {
  right: 0;
  margin-top: 1rem;
}

@media (max-width: 480.98px) {
  html {
    font-size: 8px;
  }
  .car {
    padding: 5rem 2rem;
    flex-direction: column;
  }
  .slider,
  .slider-info,
  .car-content,
  .car-img {
    width: 100%;
  }
  .sliding {
    flex-direction: column;
  }
  .save-link {
    margin-top: 2rem;
  }
  .edit-link {
    padding: 1.5rem 9rem;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .car {
    padding: 5rem 2rem;
    flex-direction: column;
  }
  .slider,
  .slider-info,
  .car-content,
  .car-img {
    width: 100%;
  }
  .sliding {
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .save-link {
    margin-top: 2rem;
  }
  .edit-link {
    padding: 1.5rem 11rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .car {
    padding: 5rem 1rem;
  }
  .car-content {
    padding: 0rem 2rem;
  }
  .info-desc {
    font-size: 1.2rem;
  }
  .price {
    padding: 1rem 0rem;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 480.98px) {
  .slider {
    width: 90%;
  }
  .sliding {
    display: flex;
    padding: 1rem 2rem;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .slider {
    width: 90%;
  }
  .sliding {
    display: flex;
    padding: 1rem 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
}
